<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> <%= pageTitle%></title>
    <link rel="stylesheet" type="text/css" href="../../style.css" />
    <link rel="stylesheet" type="text/css" href="../../stylesheets/friends.css">
    <link
      rel="icon"
      href="https://play-lh.googleusercontent.com/7rrLQZ1babW5YVAeWigNtVeJYtwqH1hzHosdZj1P-bpDGcmg6UKyHEawJ9tIu-3PewHe"
    />
  </head>
  <body>
    <header>
      <img
        id="joe-logo"
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpkCUJNxhIVtWFFM0vzsrGzCtiI8DsgXClPV6JAaA4aQ&s"
      />
      <div id="menu">
        <a id="menu-home" href="/">Home</a>
        <a id="menu-menu" href="/site/menu">Menu</a>
        <a id="menu-about" href="/site/about">About</a>
        <a id="menu-contact" href="/site/contact">Contact</a>
        <a id="log-in" href="/site/login">Log In</a>
        <a id="sign-up" href="/site/user">Sign Up</a>
      </div>
    </header>
     <div id="page-content">
        <div id="friend">
          <div id="slide">
            <div id="friend-container">
              <h3>
                  <%= fullName %>
              </h3>
              <ul id="friend-info-list">
                  <li id="username"> <%= username %> </li>
                  <li id="email"><%= email %> </li>
                  <li id="number"> <%= phone %> </li>
              </ul>
            </div>
            <div id="contact-container">
              <div id="mail-container">
                <button id="sendMailButton">Send Offer via Email</button>
              </div>
              <div id="text-container">
                <button id="sendTextButton">Send Offer via Text</button> 
              </div>
            </div>  
        </div>
      </div>
    </div>
    <footer>
      <p>Facebook</p>
      <p>Instagram</p>
    </footer>
  </body>
  <script src="../../script.js"></script>
  <script src="../../scripts/friend.js"></script>
</html>
