<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missing Title</title>
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/user.css">
    <link rel="icon" href="https://play-lh.googleusercontent.com/7rrLQZ1babW5YVAeWigNtVeJYtwqH1hzHosdZj1P-bpDGcmg6UKyHEawJ9tIu-3PewHe">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
</head>
<body>
    <header>
        <img id="joe-logo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpkCUJNxhIVtWFFM0vzsrGzCtiI8DsgXClPV6JAaA4aQ&s">    
        <div id="menu">
            <a id="menu-home" href="/">Home</a>
            <a id="menu-menu" href="/site/menu">Menu</a>
            <a id="menu-about" href="/site/about">About</a>
            <a id="menu-contact" href="/site/contact">Contact</a>
            <a id="log-in" href="/site/login">Log In</a>
            <a id="sign-up" href="/site/signup">Sign Up</a>
        </div>
    </header>
    <div id="page-content">
        <div id="inner-page-content">

            <div id="displayUser">
                <!--<img src="https://cdn2.iconfinder.com/data/icons/mobile-banking-ver-1a/100/1-04-1024.png" width="200px">-->
                <div>
                    <p>Name: <%= fullName %></p>
                    <p>Username: <%= username %></p>
                    <p>Email: <%= email %></p>
                </div>
                <div>
                    <p>Phone: <%= phone %></p>
                    <p>Address: <%= street %></p>
                    <p>City: <%= city %>, <%= zip %></p>
                    <p>Country: <%= country %></p>
                </div>
            </div>

            <div id="chat">
                <div id="chat-window">
                    <ul id="messages"></ul>
                </div>
                <button id="sendButton">Send</button>
                <input type="text" id="chat-input" placeholder="Write to your friend">
            </div>
            <div id="friends-container">
                <div id="newFriends">
                    <input id="addFriend" placeholder="Search for a friend!">
                    <ul id="friendSearch" class="hidden_list"></ul>
                </div>
                <div id="existingFriends">
                    <p>Friends</p>
                    <ul id="existingFriends-list"></ul>
                </div>
            </div>
        </div>
    </div>
    <footer></footer>
</body>
<script src="../../script.js"></script>
<script src="../../scripts/user.js"></script>
</html>